*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

.contaienr{
    width: 100%;
    height: 100vh;
    display: flex;
}
.login-animate{
    width: 55%;
    height: 100%;
}

.login-form{
    width: 45%;
    height: 100%;
}